* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: 'Orbitron', sans-serif;
}

/* TESTE DE IMAGEM */
.hero {
  width: 100%;
  height: 100vh;

  background-image: url("../assets/signature.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  border: 2px solid red; /* DEBUG */
}

.hero h2 {
  margin-bottom: 10px;
}
